/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body { 
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  min-height: 100vh; 
  margin: 0; 
  background: url('https://imgs.search.brave.com/vhwoxHER6q1BOqLRjrD2xrBnq8DoiQW3_ClMYm0SmoU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y29uY2VwdG8tb3Jn/YW5pemFjaW9uLXRp/ZW1wby1wbGFuaWZp/Y2Fkb3ItY2VyY2Ff/MjMtMjE0OTA0Njc0/NS5qcGc_c2VtdD1h/aXNfaHlicmlk') center/cover no-repeat;
 
}

.tareas-container {
  padding: 30px;
 color: black;
  width: 100%; 
  max-width: 600px; 
  box-sizing: border-box; }

  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button.btn {
    margin-left: 50px;
    
    border: none;
    background: none;
    visibility: hidden;
  }
  
  li:hover button.btn {
    color: red;
    visibility: visible;
  }
  button{
    margin-left: 1rem;
  }

  h1 {
    margin-top: 20px;
  }

 